SB_USER={{ sickbeard_user_name }}                          #$RUN_AS, username to run sickbeard under, the default is sickbeard
SB_HOME={{ sickbeard_binary_path }}        #$APP_PATH, the location of SickBeard.py, the default is /opt/sickbeard
SB_DATA={{ sickbeard_data_path }}    #$DATA_DIR, the location of sickbeard.db, cache, logs, the default is /opt/sickbeard
